.splash-card h2 {
    margin: 80px 0;
    font-size: 3em;
}

.splash-media {
    text-align: left;
    width: 50vw;
}

.splash-media h3{
    font-size: 1.8em;
    border-bottom: 1px solid grey;
}
.splash-media h2{
    font-size: 2.5em;
    border-bottom: 1px solid grey;
}
.splash-media p{
    font-size: 1.2em;
}
.cta{
    padding:0;
    font-size: 1.5em;
    margin-top: 50px;
    height: 5vh;
    width: 15vw;
    margin-bottom: 100px;
}

.highlight{
    color: #ee5929;
}