.game-card {
    width: 60vw;
    border: 1px solid grey;
    margin: 30px 0 0;
}

.game-card h3 {
    margin-top: -35px;
}

.game-card__edit {
    position: relative;
    width: 40px;
    left: 45%;
    top: 10px;
}