.games-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0 500px;
    margin-bottom: 200px;
}

.games-list a {
    font-weight: 500;
    color: #141c54;
    text-decoration: inherit;
}

.games-list a:hover {
    color: #000000;
}

